:root {
  --primary-color: #009adf;
  --secondary-color: #002639;
  --tertiary-color: #f5f5f5;
  --primary-text-color: #757575;
  --secondary-text-color: var(--primary-color);
  --tertiary-text-color: var(--secondary-color);
  --quaternary-text-color: #52575c;
  --quintenary-text-color: #7e8286;
  font-family: 'Inter', sans-serif;
}

.home-div {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100%;
}

.home-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: var(--tertiary-color);
  border: 1px solid transparent;
  border-radius: 15px;
  box-shadow: 0px 5px 8px 0px #00000026;
  height: 80vh;
  min-width: fit-content;
  margin-top: 15vh;
  /* overflow: auto; */
  padding: 1rem;
  width: 80vw;
}

.title-element {
  color: var(--tertiary-text-color);
  text-align: center;
  padding-bottom: 1rem;
  position: static;
}

.pagination-element {
  justify-content: center;
  align-self: center;
  background-color: var(--tertiary-color);
  width: 50%;
  box-shadow: none;
}

.main-main-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.pagination-div {
  display: flex;
  width: 100%;
  /* position: static; */
  align-self: flex-end;
  justify-content: center;
  position: relative;
  margin-bottom: 3rem;
}

.patient-list-div {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.search-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin-bottom: 1rem;
}