/* :root {
  --primary-color: #009adf;
  --secondary-color: #002639;
  --tertiary-color: #f5f5f5;
  --primary-text-color: #757575;
  --secondary-text-color: var(--primary-color);
  --tertiary-text-color: var(--secondary-color);
  --quaternary-text-color: #52575c;
  --quintenary-text-color: #7e8286;
  font-family: 'Inter', sans-serif;
}

.home-main-div{
  display: flex;
  background: rgb(143, 184, 131);
  background: linear-gradient(
    138deg,
    rgba(143, 184, 131, 1) 0%,
    rgb(40, 90, 72) 14%,
    rgba(0, 0, 0, 1) 100%
  );
  height: 100vh;
  align-items: space-between;
  justify-content: center;
  padding: 5vw;
} */
